<div>
    <h3 class="bossname" @onclick="ToggleVisible">@( this.Visible=="collapse" ? "+" : "-")@(GetBoss(Encounter.BossId).Name)</h3>

    <div class="roles-parent @Visible">
        @foreach(var role in GetRoles()) {
            <h4 class="role"><img src="images/roles/@(role.ToString().ToLower()).png" width="20px" height="20px" />@role</h4>
            <ul>
            @foreach(var character in GetCharactersByRole(role)) {
                <li class="@(character.CharacterClass)"><img src="images/classes/@(character.CharacterClass.ToString().ToLower()).png" width="20px" height="20px" />@character.Name</li>
            }
            </ul>
        }

        <h4 @onclick="ToggleBench">@( this.BenchVisible=="collapse" ? "+" : "-")Bench</h4>
        <div class="@BenchVisible">
            <ul>
            @foreach(var player in GetBenchedPlayers()) {
                <li>@player.Name</li>
            }
            </ul>
        </div>
    </div>
</div>