<div>
    <h3 class="bossname" @onclick="ToggleVisible">@( this.Visible=="collapse" ? "+" : "-")@(GetBoss(Encounter.BossId).Name)</h3>

    <div class="flex-container roster @Visible">
        <div class="flex-container flex-content">
            <RoleView Players="@Players" Encounter="@Encounter" Role="RaidPlannerClient.Model.Role.Tank" />
            <RoleView Players="@Players" Encounter="@Encounter" Role="RaidPlannerClient.Model.Role.Melee" />
            <RoleView Players="@Players" Encounter="@Encounter" Role="RaidPlannerClient.Model.Role.Healer"/>
            <RoleView Players="@Players" Encounter="@Encounter" Role="RaidPlannerClient.Model.Role.Ranged"/>
        </div>

        <div class="flex-content">
            <h4 class="role">Bench</h4>
            <ul>
            @foreach(var player in GetBenchedPlayers()) {
                <li class="@player.GetMainCharacterClass()">@player.Name</li>
            }
            </ul>
        </div>
    </div>
</div>