@page "/"

@if(ErrorMessage!=null) {
    <h1>@ErrorMessage</h1>
} else {
    @if(Raid==null) {
        <h1>Loading...</h1>
    } else {
        <h1>@Raid.Date.ToString("yyyy-MM-dd")</h1>


        <h2 @onclick="ToggleEncounters">@( this.EncountersVisible=="collapse" ? "+" : "-")Encounters:</h2>
        <div class="@EncountersVisible">
        @foreach(var encounter in Raid.Encounters) {
            <EncounterView Players="@Players" Encounter="@encounter" Bosses="@Bosses" />
        }
        </div>

        <h2 @onclick="TogglePlayers">@( this.PlayersVisible=="collapse" ? "+" : "-")Players:</h2>
        <div class="@PlayersVisible">
        @foreach(var playerId in Raid.SignedUp) {
            <PlayerView Raid="@Raid" Players="@Players" Bosses="@Bosses" Player="@GetPlayer(playerId)" />
        }
        </div>

        <MissingPlayers Players="@Players" Raid="@Raid" />
    }
}

