@page "/"

@if(ErrorMessage!=null) {
    <h1>@ErrorMessage</h1>
} else {
    @if(Raid==null) {
        <h1>Loading...</h1>
    } else {
        <h1>@Raid.Date.ToString("yyyy-MM-dd")</h1>

        <MissingPlayers Players="@Players" Raid="@Raid" />

        @foreach(var encounter in Raid.Encounters) {
            <EncounterView Players="@Players" Encounter="@encounter" Bosses="@Bosses" />
        }
    }
}

